.main-header {
    background-color: black;
    color:aliceblue;
    text-align: center;
}

.language{
  display: block;
  padding-top: 0.3rem;
  font-size: 1rem;
}

.logo-font{
  font-size:2rem;
}


/* ----------------- Navigation ----------------- */
header ul {
  vertical-align: middle;
  list-style-type: none;
  overflow: hidden;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
}

.navbar{
  font-family: EvelethClean;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: flex;
  width: clamp(768px, 1080px);
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    background-color: #000000;
    padding: 10px;
    width: calc(100% - 70px);
  }

  .nav-menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .image-offer-card{
    flex-basis: 100%;
  }

  .contacts{
    flex-basis: 40%;
  }
}
